{
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "double"],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"]
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "rules": {
        "node/no-unpublished-require": "off"
      }
    }
  ]
}
